py2neo
neo4j
python-dotenv
bcrypt
click
flask_jwt_extended
flask_limiter
Flask
colorama
itsdangerous
Jinja2
MarkupSafe
Werkzeug
gunicorn
setuptools
pymongo[srv]
numpy
scipy
scikit-learn
sentence-transformers
