setuptools
numpy
scipy
scikit-learn
sentence-transformers
colorama

python-jose[cryptography]
pydantic[email]
passlib[bcrypt]
fastapi[all]
python-dotenv
pydantic
uvicorn
pymongo
inflect
motor
neo4j

pip-tools
pipenv
toml
